.page-header
  h1 Map#index

  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width='1000' height='1000')
    circle(cx="10" cy="10" r="10" fill="#343434")
    circle(cx="990" cy="10" r="10" fill="#343434")
    circle(cx="10" cy="990" r="10" fill="#343434")
    circle(cx="990" cy="990" r="10" fill="#343434")